* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.portfolio {
    background: #F5F5F5;
}

.portfolio__tittle {
    font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 34px;
line-height: 39px;
text-align: center;
/* Black */
color: #070707;
margin-bottom: 47px;

}

.portfolio__text {
    font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
margin-top: 45px;
margin-bottom: 99px;

}

.reebok__text {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #070707;
margin-top: 45px;
margin-bottom: 99px;

}

.braun__text {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #070707;
margin-top: 46px;

}

.contacts__tittle {
 font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 34px;
line-height: 39px;
text-align: center;
color: #070707;
margin-top: 210px;
}

.contacts__text {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #070707;
margin-top: 20px;
}

.contacts__action {
 text-align: center;
 margin-top: 42px;
 margin-bottom: 94px;
}
.contacts__button {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
background-color: black;
color: white;
padding-top: 13px;
padding-bottom: 8px;
}

.contacts__text2 {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #828282;
margin-top: 45px;
}

#icons {
    width: auto;
    margin-left: 580px;
}

.list {
display: inline;
 font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #070707;
margin: 33px 57px;
}

.container {
max-width: 900px;
margin: 0 auto;
}
    
.line {
 border: 1px solid #828282;
 transform: matrix(1, 0, 0, 1, 0, 0);
 margin-top: 32px;
}

.name, .lenguage, .date {
    display: inline;
}

.person__name, .person__prof, .person__language {
    margin: 30px;
}

.person__name {
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 47.3392px;
line-height: 54px;
color: #070707;

}

.person__prof, .person__language {
 font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #070707;

}

.person__img {
    margin-top: 50px;
    margin-bottom: 100px;
}

.flex {
    display: flex;
}


